* {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #e3e3e3;
}

#HeaderMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #233142;
}

#HeaderTitle {
  font-size: 1.5em;
  color: #f95959;
  padding: 0 20px;
  border-left: 2px solid #f95959;
  background-color: inherit;
}

.Header {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    color: #e3e3e3;
}

.View {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

li {
  list-style-type: none;
}




.button-60 {
align-items: center;
appearance: none;
background-color: transparent;
border: transparent;
border-radius: .375em;
box-shadow: none;
box-sizing: border-box;
color: #e3e3e3;
cursor: pointer;
display: inline-flex;
font-size: 1rem;
height: 1.5em;
justify-content: center;
line-height: 1.5;
position: relative;
text-align: center;
user-select: none;
-webkit-user-select: none;
vertical-align: top;
white-space: nowrap;
}